#parse("common/header.html")
<input type="hidden" id="currentMenuId" value="$!{menuId}">
<div class="container-fluid">
    <div class="page-header">
        <h4>
            <b>菜单管理</b></h4>
    </div>
    <div class="row">
        <div class="col-sm-10">
            <div class="form-inline table_formnew">
                <div class="form-group">
                    <label class="control-label">菜单名：</label>
                    <input type="text" id="nameSeach" class="form-control">
                    <input type="hidden" id="nameSeach_q" class="form-control" value="LIKE"></div>
                <div class="form-group">
                    <label for="statusSeach" class="control-label">状态:</label>
                    <select name="" id="statusSeach" class="form-control">
                        <option value="">-- 请选择 --</option>
                        <option value="1">启用</option>
                        <option value="2">停用</option>
                    </select>
                    <input type="hidden" id="statusSeach_q" value ="EQ" />
                </div>
                <div class="form-group">
                    <label class="control-label">所属父菜单：</label>
                    <select id="parentIdSeach" name='parentIdSeach' class="form-control">
                        <option value=''>--请选择--</option>
                    </select>
                    <input type="hidden" id="parentIdSeach_q" class="form-control" value="EQ"></div>
                <div class="form-group">
                    <label class="control-label">创建时间：</label>
                    <input type="text" id="createTimeS" class="form-control form_datetime ">-
                    <input type="text" id="createTimeE" class="form-control form_datetime">
                    <input type="hidden" id="createTimeS_q" class="form-control" value="GT">
                    <input type="hidden" id="createTimeE_q" class="form-control" value="LT"></div>
                <div class="form-group">
                    <label class="control-label">修改时间：</label>
                    <input type="text" id="updateTimeS" class="form-control form_datetime ">-
                    <input type="text" id="updateTimeE" class="form-control form_datetime">
                    <input type="hidden" id="updateTimeS_q" class="form-control" value="GT">
                    <input type="hidden" id="updateTimeE_q" class="form-control" value="LT"></div>
                <div class="form-group" id="oper-btn">
                    <button class="btn btn-primary search"  onclick="javascript:current.seach();" title="查询" rel="tooltip">查询</button>
                    <button class="btn btn-default"  onclick="javascript:current.clearSearch();" title="清空" rel="tooltip">清空</button>
                </div>
            </div>
            <div class="form-group" id="oper-btn2"></div>
            <div class="form-group">
                <!-- <button class="btn btn-info" onclick='javascript:uncheckAll();'>全不选</button>
                <button class="btn btn-info" onclick='javascript:checkedAll();'>全选</button> -->
                <button class="btn btn-info" onclick='javascript:current.collapseAll();'>收起</button>
                <button class="btn btn-info" onclick='javascript:current.expandAll();'>展开</button>
                <button class="btn btn-info" onclick='javascript:current.cleanSelect();'>清除选项</button>
            </div>
            <div id="menuTree"></div>
        </div>
    </div>
</div>
<!-- edit model start -->
<form id="menuForm">
    <div class="modal fade" id="menuModal" tabindex="-1" role="dialog" aria-labelledby="menuModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="menuModalLabel">新增</h4></div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name" class="col-sm-4 control-label">菜单名称：</label>
                        <input type="text" class="form-control" name="name" id="name" placeholder="菜单名称" required></div>
                    <div class="form-group">
                        <label for="url" class="col-sm-2 control-label">URL:</label>
                        <input type="text" class="form-control" name="url" id="url" placeholder="自定义URL"></div>
                    <div class="form-group">
                        <label for="icon" class="col-sm-2 control-label">ICON:</label>
                        <input type="text" class="form-control" name="icon" id="icon" placeholder="图标"></div>
                    <div class="form-group">
                        <label for="code" class="col-sm-2 control-label">权限码:</label>
                        <input type="text" class="form-control" name="code" id="code" placeholder="权限码"></div>
                    <div class="form-group">
                        <label for="code" class="col-sm-2 control-label">状态:</label>
                        <select name="" id="status" class="form-control">
                            <option value="1">默认启用</option>
                            <option value="2">停用</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="sortCode" class="col-sm-2 control-label">优先级：</label>
                        <input type="text" class="form-control" name="sortCode" id="sortCode" placeholder="数字越小优先级越高">
                    </div>
                    <div class="form-group">
                        <label for="remark" class="col-sm-2 control-label">备注：</label>
                        <input type="text" class="form-control" name="remark" id="remark" placeholder="备注"></div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-default" href="javascript:clear();" title="清空" rel="tooltip">清空</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" id="save">保存</button>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- edit model end -->

<!-- menu model start -->
<div class="modal fade" id="parentMenuModal" tabindex="-1" role="dialog" aria-labelledby="parentMenuModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
               <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
                <h4 class="modal-title" id="parentMenuModalLabel">关联父菜单</h4></div>
            <div class="modal-body">
                <div id='parentMenuModalBody'></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id='contactParentMenu'
                        onclick='javascript:current.contactParentMenu();'>关联
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal"
                        onclick='javascript: current.initMenuTree();'>取消
                </button>
            </div>
        </div>
    </div>
</div>
<!-- menu model end --></div>
<!-- message model start -->
<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="messageModalLabel">成功</h4></div>
            <div class="modal-body" id="messageModalBody"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<!-- message model end -->
<script id="currentPage" src="#springUrl('/static/js/require.min.js')" data-target="local/system/menu"
        data-main="#springUrl('/static/js/config.js')" type="text/javascript">
</script>
#parse("common/footer.html")