<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzy.innovate.mapper.SysOperMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.lzy.innovate.entity.SysOper">
		<id column="uuid" property="uuid" />
		<result column="name" property="name" />
		<result column="status" property="status" />
		<result column="url" property="url" />
		<result column="code" property="code" />
		<result column="icon" property="icon" />
		<result column="remark" property="remark" />
		<result column="createTime" property="createTime" />
		<result column="updateTime" property="updateTime" />
		<result column="sortCode" property="sortCode" />
	</resultMap>

	<!--列-->
	<sql id="BaseColumn">
		uuid,name,status,url,code,icon,remark,createTime,updateTime,sortCode,oper,menuId
	</sql>

	<!--列-->
	<sql id="tBaseColumn">
		t.uuid,t.name,t.status,t.url,t.code,t.icon,t.remark,t.createTime,t.updateTime,t.sortCode,t.oper
	</sql>

	<!--条件sql-->
	<sql id="conditions">
		<if test="page != null">
			<where>
				<if test="page.conditions.get('create_startTime') != null and page.conditions.get('create_endTime') != ''">
					<![CDATA[  AND t2.createTime >= '${page.conditions.get('create_startTime')}' AND t2.createTime <= '${page.conditions.get('create_endTime')}' ]]>
				</if>
				<if test="page.conditions.get('update_startTime') != null and page.conditions.get('update_endTime') != ''">
					<![CDATA[ AND t2.updateTime >= '${page.conditions.get('update_startTime')}' AND t2.updateTime <= '${page.conditions.get('update_endTime')}' ]]>
				</if>
				<foreach collection="page.conditions" item="value" index="key">
					<if test="key != 'create_startTime' and key != 'create_endTime' and key != 'update_startTime' and key != 'update_endTime'">
						<choose>
							<when test="page.rule.get(key) == 'LIKE'">
								<![CDATA[ AND t2.${key} LIKE CONCAT('%','${value}','%') ]]>
							</when>
							<when test="page.rule.get(key) == 'LT'">
								<![CDATA[ AND t2.${key} < '${value}' ]]>
							</when>
							<when test="page.rule.get(key) == 'GT'">
								<![CDATA[ AND t2.${key} > '${value}' ]]>
							</when>
							<when test="page.rule.get(key) == 'LE'">
								<![CDATA[ AND t2.${key} <= '${value}' ]]>
							</when>
							<when test="page.rule.get(key) == 'GE'">
								<![CDATA[ AND t2.${key} >= '${value}' ]]>
							</when>
							<when test="page.rule.get(key) == 'EQ'">
								<![CDATA[ AND t2.${key} = '${value}' ]]>
							</when>
							<otherwise>
								<![CDATA[ AND t2.${key} = '${value}' ]]>
							</otherwise>
						</choose>
					</if>
				</foreach>
			</where>
			<![CDATA[ ORDER BY ${page.sortField} ${page.sortType} ]]>
			<if test="!page.isAll">
				<![CDATA[ LIMIT #{page.current} ,  #{page.size} ]]>
			</if>
		</if>
	</sql>

	<!--查询当前用户的所有操作-->
	<select id="findOpersByPagin" resultMap="BaseResultMap" parameterType="java.util.Map">
		SELECT <include refid="tBaseColumn" /> FROM
			(SELECT <include refid="BaseColumn" /> FROM (SELECT <include refid="BaseColumn" /> FROM sys_oper m WHERE m.uuid IN
			    (SELECT ro.oper_uuid FROM sys_role_oper ro WHERE ro.role_uuid IN
				    (SELECT ru.role_uuid FROM sys_role_user ru WHERE ru.user_uuid = #{userId , jdbcType=VARCHAR})))AS t2 <include refid="conditions"/> ) AS t
						  INNER JOIN
			(SELECT t7.uuid FROM (SELECT m2.uuid FROM sys_oper m2 WHERE m2.uuid IN
			    (SELECT go.oper_uuid FROM sys_group_oper go WHERE go.group_uuid =
				    (SELECT groupId FROM sys_user WHERE uuid = #{userId , jdbcType=VARCHAR})))AS t7) AS t1
						   ON t.uuid = t1.uuid
	</select>

	<!--查村菜单下的操作-->
	<select id="findOpersByMenuId" resultMap="BaseResultMap">
		SELECT <include refid="tBaseColumn" /> FROM
			(SELECT <include refid="BaseColumn" /> FROM (SELECT <include refid="BaseColumn" /> FROM sys_oper m WHERE m.uuid IN
				(SELECT ro.oper_uuid FROM sys_role_oper ro WHERE ro.role_uuid IN
					(SELECT ru.role_uuid FROM sys_role_user ru WHERE ru.user_uuid = #{userId , jdbcType=VARCHAR})) AND m.menuId = #{menuId , jdbcType=VARCHAR})AS t2 WHERE t2.status = '1') AS t
						INNER JOIN
			(SELECT t7.uuid FROM (SELECT m2.uuid FROM sys_oper m2 WHERE m2.uuid IN
				(SELECT go.oper_uuid FROM sys_group_oper go WHERE go.group_uuid =
					(SELECT groupId FROM sys_user WHERE uuid = #{userId , jdbcType=VARCHAR})) AND m2.menuId = #{menuId , jdbcType=VARCHAR})AS t7) AS t1
							ON t.uuid = t1.uuid ORDER BY t.createTime
	</select>

	<!--检索总数-->
	<select id="findOperCount" parameterType="java.util.Map" resultType="int">
		SELECT COUNT(*) as total FROM
			(SELECT <include refid="BaseColumn" /> FROM (SELECT <include refid="BaseColumn" /> FROM sys_oper m WHERE m.uuid IN
				(SELECT ro.oper_uuid FROM sys_role_oper ro WHERE ro.role_uuid IN
					(SELECT ru.role_uuid FROM sys_role_user ru WHERE ru.user_uuid = #{userId , jdbcType=VARCHAR})))AS t2 <include refid="conditions"/> ) AS t
						INNER JOIN
		(SELECT t7.uuid FROM (SELECT m2.uuid FROM sys_oper m2 WHERE m2.uuid IN
			(SELECT go.oper_uuid FROM sys_group_oper go WHERE go.group_uuid =
				(SELECT groupId FROM sys_user WHERE uuid = #{userId , jdbcType=VARCHAR})))AS t7) AS t1
					ON t.uuid = t1.uuid
	</select>

</mapper>
