<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--css-->
    <link type="text/css" href="#springUrl('/static/css/jquery.dataTables.min.css')" rel="stylesheet">
   <!-- <link type="text/css" href="#springUrl('/static/css/dataTables.bootstrap.min.css')" rel="stylesheet">-->
    <link type="text/css" href="#springUrl('/static/css/dataTables.jqueryui.min.css')" rel="stylesheet">
    <link type="text/css" href="#springUrl('/static/css/bootstrap-datetimepicker.min.css')" rel="stylesheet">
    <link type="text/css" href="#springUrl('/static/css/bootstrap.min.css')" rel="stylesheet">
    <link type="text/css" href="#springUrl('/static/css/global.css')" rel="stylesheet">

    <!--[if IE]>
    <script src="#springUrl('/static/js/plus/ie.js')"></script>
    <![endif]-->
</head>
<body>
<input id='basePath20170311' type="hidden" value = "#springUrl('/')"/>
<input id="uuid" type="hidden" />
