   <!-- 导航nav start-->
   <nav class="navbar navbar-default" role="navigation">
     <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse"
                  data-target="#example-navbar-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
          </button>
            <ul class="nav navbar-nav">
                <li><a href="javascript:void(0);" class="navbar-brand">欢迎登录系统</a></li>
            </ul>
      </div>
       <div class="collapse navbar-collapse" id="example-navbar-collapse">
           <ul class="nav navbar-nav navbar-right">
               <li><a id="user"> </a></li>
               <li><a href="#springUrl('/index/logout')"><span class="glyphicon glyphicon-off"></span>&nbsp;退出</a></li>
           </ul>
        </div>
      </div>
    </nav>
    <!-- 导航nav end -->

