#parse("common/simple_header.html")
        <ul id="myTab" class="nav nav-tabs">
            <li class="active"><a href="#1" data-toggle="tab">
                     登录</a></li>
            <li><a href="#2" data-toggle="tab">修改密码</a></li>
            <li><a href="#3" data-toggle="tab">找回密码</a></li>
        </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="1">
                    <p>
                        <div class="from-login-div">
                            <form action="#springUrl('/index/toLogin')" class="well" role="form" method="POST">
                                <h2 class="form-signin-heading">
                                    欢迎登录
                                </h2>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-user"></span> 用户名：
                                    </span>
                                    <input type="text" class="form-control" name="username" placeholder="用户名..."
                                    required autofocus>
                                </div>
                                <br>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-lock"></span>  密 码：
                                    </span>
                                    <input type="password" class="form-control" name="password" placeholder="密码..."
                                    required>
                                </div>
                                <br>
                                <div class="form-group form-inline">
                                    <input type="hidden" name="ctoken" value="$!{ctoken}">
                                    <input type="text" name="captcha" class="form-control" style="width: 195px;" placeholder="验证码" required>
                                    #set($captchaUrl ="/index/image?ctoken=" + $!{ctoken}+ "&t=")
                                    <img alt="验证码" src="#springUrl($captchaUrl)" onclick="this.src=('#springUrl($captchaUrl)'+(new Date()).getTime())">
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="rememberMe" value="on">
                                        记住我
                                    </label>
                                </div>
                                <button class="btn btn-lg btn-primary btn-block" type="submit">
                                    登录
                                </button>
                                <span class="label-info">
                                    $!{errorMsg}
                                </span>
                            </form>
                        </div>
                    </p>
                </div>
               <div class="tab-pane fade" id="2">
                    <p>
                        功能待开发
                    </p>
                </div>
                <div class="tab-pane fade" id="3">
                    <p>
                        功能待开发
                    </p>
                </div>
            </div>
        </div>
    </body>

    <script id="currentPage" type="text/javascript" src="#springUrl('/static/js/require.min.js')" data-main="#springUrl('/static/js/config.js')" data-target="local/login"></script>
#parse("common/footer.html")